<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-canvas"></div>
    <button id="current-location" type="button">Use current location</button>
  </body>
</html>
