<div id="map-canvas"></div>

<div class="home">
  <div class="opening"><p>Find Your Path</p></div>
  <div class="home-description">Discover new hikes from over 6,500 U.S. trails</div>
  <div class="current-location">
  	<button class="button-current-location" type="button">Use current location</button>
  </div>
  <div class="explore">
    <h3>Explore</h3>
     <%= image_tag("boots100.png", :id => "boots") %>
    <p>Use the interactive map to explore vital and user-curated trail information including ratings, length, difficulty, and descriptions</p>
  </div>
  <div class="engage">
    <h3>Engage</h3>
    <%= image_tag("heart100.png", :size => "85x85", :id => "heart") %>
    <p>View and upload recent trail pictures, and browse through thousands of user-submitted comments for reviews, tips, and current trail conditions</p>
  </div>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">

</div>
