<div id="map-canvas"></div>
<input id="pac-input" class="controls" type="text" placeholder="Search" style="left:5px">

<div class="current-local-button">
	<i class="fa fa-crosshairs fa-lg"></i>
</div>

<div class="home">
	
	<div class="home-top">
	  <div class="opening"><p>Find Your Path</p></div>
	  <div class="home-description">Discover new hikes from over 6,500 U.S. trails.</div>
	  <div class="explore">
	    <div class="explore-title"><h3>Explore</h3></div>
	    <div class="explore-image"> <%= image_tag("boots100.png", :id => "boot") %></div>
	    <p>Use the map to find and plan your next hike no matter where you’re headed. See detailed trail information from trail reviews, photos and must-have tips to current trail conditions - all curated content from other hikers like you.</p>
	  </div>
	  <div class="engage">
	    <div class="engage-title"><h3>Engage</h3></div>
	   <div class="engage-image"><%= image_tag("engage_icon_resized.png", :size => "85x85", :id => "engage") %></div>
	    <p>Find trails you’ve hiked and engage with others who’ve traveled the same path. Leave comments, write reviews, and upload your photos.</p>
	  </div> 
	</div>
	
	
	<div class="home-bottom">
		<div class="current-location">
	  <div class="all-trails-button" type="button"> See All Trails</div>
	</div>
		<div class="create-trail-info"><p>Know of a trail but don’t see it on our map? We’ll take care of that.</p></div>
		<div class="create-trail-button">Create A Trail</div>
	</div>
	<div class="trail-form">
		<form action="/user_trails/new">
			<input name="latitude" type="hidden"></input>

			<input name="longitude" type="hidden"></input>

			<div class="trail-form-name">
				<label> Trail Name: <label>
				<input name="name" type="text" placeholder="e.g. Appalachian Trail"></input>
			</div>
			
			<div class="trail-form-city">
				<label> City: <label><br>
				<input name="city" type="text" placeholder="e.g. Hanover"></input>
			</div>

			<div class="trail-form-state">
			<label> State: <label><br>
			<input name="state" type="text" placeholder="e.g. New Hampshire"></input>
			</div>

			<div class="trail-form-length">
				<label> Length in miles: <label>
				<input name="length" type="text" placeholder="1.2"></input>
			</div>

			<div class="trail-form-description">
			<label> Description: <label><br>
			<textarea name="description" type="text" placeholder="write a detailed description of the trail here..."></textarea>
			</div>

			<button class="submit-create-trail" type="submit" name="trail-submit">Submit Trail</button>
			<button class="cancel-create-trail">Cancel</button>
			</form>
	</div>
</div>

<div class="home-footer">
  <%= image_tag("trailapi.png", :size => "174x60", :id => "icon") %>
</div>
