#map-canvas {
  height: 60%;
  width: 60%;
  margin: auto;
  position: relative;
  top: 100px;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}


.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.signin-form{
  display: none;
  width: 50%;
  border: 1px solid black;
  margin-top: 0px;
}

.signin-form h3{
  text-align: center;
  margin: 0px;
  margin-top: 5%
}

.signin-form button{
  margin-left: 10%;
  margin-bottom: 5%;
}

.signin-form input{
  display: block;
  width: 80%;
  margin: 5% auto;
  height: 10%;
}

.signup-form{
  display: none;
  width: 50%;
  border: 1px solid black;
  vertical-align: middle;
  margin-top: 0px;
}

.signup-form h3{
  text-align: center;
  margin: 0px;
  margin-top: 5%
}

.signup-form button{
  margin-left: 10%;
  margin-bottom: 5%;
}

.signup-form input{
  display: block;
  width: 80%;
  margin: 5% auto;
  height: 10%;
}
.error{
  text-align: center;
  display: none;
  color: red;
  margin: 0;
  padding: 0;
}
