body {
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/billie-holiday.png);
  /*font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
}

img[alt="Trailapi"] {
  margin-left: 2em;
  margin-bottom: 0.1em;
}

h1#title {
  color: #ffffff;
  display: inline-block;
  position: relative;
  left: 2%;
  padding: 0;
  font-size: 300%;
  margin:0;
  line-height: 70px;

}

#title-image{
  display: inline-block;
  position: relative;
  margin-left: 2%;
  margin-top: 1%;
}

#title-image:hover, #title:hover{
  cursor: pointer;
}

.signin-form{
  border-radius: 4px;
  display: none;
  background-image: url(signup-image.jpg);
  background-size: 100% 100%; 
  width: 50%;
  border: 1px solid black;
  vertical-align: middle;
  margin-top: 0px;
}

.signin-form h3{
  text-align: center;
  display: block;
  font-size: 45px;
  color: steelblue;
  margin: 0px;
  margin-top: 5%;
  margin-bottom: 30px;
}

.signin-form input[type="email"] {
  margin-top: 30px;
}

.signin-form button {
  margin-left: 105px;
  margin-bottom: 5%;
}

.signin-form input {
  display: block;
  margin: 13px auto;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
  padding: 11px 35px 11px 8px;
  border-color: grey;
  border-radius: 3px;
  font-size: 19px;
}

.signin-form button {
  padding: 15px 25px;
  position: relative;
  left: 180px;
  background-color: #424242;
  font-size: 20px;
  color: white;
  border-radius: 3px;
  margin-left: 10%;
  margin-bottom: 50px;
}

.signin-form button:hover {
  background-color: #616161;
}

.signup-form {
  border-radius: 4px;
  display: none;
  background-image: url(signup-image.jpg);
  background-size: 100% 100%; 
  width: 50%;
  border: 1px solid black;
  vertical-align: middle;
  margin-top: 0px;
}

.signup-form h3 {
  text-align: center;
  display: block;
  font-size: 45px;
  color: steelblue;
  margin: 0px;
  margin-top: 5%;
  margin-bottom: 30px;
}

.signup-form button{
  padding: 15px 25px;
  position: relative;
  left: 24%;
  font-size: 20px;
  background-color: #005F6B;
  color: white;
  border-radius: 5px;margin-bottom: 50px;
  width: 52%;
}

.signup-form button:hover {
  background-color: #196F7A;
}

.signup-form input{
  display: block;
  margin: 13px auto;
  padding: 11px 35px 11px 8px;
  border-color: grey;
  border-radius: 3px;
  font-size: 19px;
}

.message{
  text-align: center;
  display: none;
  margin: 0;
  padding: 0;
}

.close-button{
  position: relative;
  color: steelblue;
  float: right;
  cursor: pointer;
  margin: 1em 1em 0 0;
  font-size: 1.4em;
  font-weight: 800;
}

.close-button:hover{
  color: #6B9BC3;
}

.logout-button{
  display: none;
  padding: 13px;
  background-color: #304848;
  color: white;
  font-size: 1em;
  cursor: hand;
  cursor: pointer;
}

.logout-button:hover{
  background-color: #687a7a;
  color: white;
  font-size: 1em;
  cursor: hand;
  cursor: pointer;
}

li{
  list-style-type: none;
}

.logout-href{
  text-decoration: none;
  color: white;
}
.continue-button{
  display: none;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.25em;
  margin: 0 auto;
  vertical-align: middle;
  cursor: hand;
  cursor: pointer;
}

.continue-button:hover{
  background-color: green;
  color: white;
}

.signin-button:hover{
  background-color: hsl(120,34%,43%);
  color: white;
}

.signin-button {
  background-color: hsl(120,34%,33%);
  margin-right: 10px;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: 2px solid #cccccc;
}

.signup-button:hover{
  background-color: hsl(120,34%,43%);
  color: white;
}

.signup-button {
  background-color: hsl(120,34%,33%);
  margin-right: 10px;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: 2px solid #cccccc;
}

#icon {
  color: white;
  position: relative;
  top: 3px;
  left: 4px;
}

header {
  position: fixed;
  top: 0px;
  display: inline-block;
  background-color: #143914;
  border: 1px solid black;
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
}


nav {
  display: inline;
  position: relative;
  bottom: 10px;
  float: right;
  padding: 0;
  margin: auto 5% auto 0;
}

ul.nav_right{
  margin-top: 17%;
  margin-bottom: 0
}

nav ul li{
  display: inline;
  padding: 0.25em;
  border: 1px solid black;
  border-radius: 0.25em;
  cursor: hand;
  cursor: pointer;
}

nav ul{
  float: right;
}
nav ul li a{
  float: right;
}

.current-location{
  margin-top: 22px;
  text-align: center;
}

.current-location button {
   padding: 12px 20px;
}

/*comment form styling*/
.comment-form{
  webkit-border-box: box-sizing;
  display: none;
  border-radius: 5px;
  border: 3px solid #cccccc;
  background: #FBFFED;
  width: 35%;
  height: 550px;
  margin-top: 2%;
}

.comment-form h2{
  text-align: center;
  margin: 0px;
  margin-top: 5%;
}

.comment-information{
  width: 80%;
  margin: 2% auto 0 auto;
}

div.input.rating {
  width: 100%;
  margin: 0;
  margin-bottom: 1.2%
}

div.comment-rating{
  margin: 0 auto;
}


div.input.difficulty {
  margin: 0;
  width: 100%;
  margin-bottom: 1.2%
}

div.comment-difficulty{
  width: 100%;
}

div.comment-difficulty-line{
  margin: 0 auto;
  text-align: center;
}

div.comment-range {
  width: 100%;
  margin: 10px auto;
}

div.comment-range input{
  width: 100%;
}

div.slider{
  width: 80%;
  margin: 0 auto;
}

div.difficulty-text{
  margin-bottom: 2%;
}

div.tip textarea, div.review textarea{
  width: 100%;
  height: 80%;
  border-radius: 3px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin-bottom: 1%;
}

div.date-hiked input{
  width: 100%;
  height: 80%;
  border-radius: 3px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin-bottom: 1%;
}

.comment-form button{
  width: 100%;
  margin: 2% auto;
  background-color: #005F6B;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.comment-form button:hover{
  background-color: #196F7A;
}


.comment-form .fa-tree{
  color: #d3d3d3;
  text-align: left;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
}

button.cancel-create-comment{
  background-color: #87919E;
  padding: 10px;
  margin-top: 1em;
  border-radius: 5px;
  color: white;
  width: 100%;
}
button.cancel-create-comment:hover{
  background-color: #A9B5C5;
}


