/*new stufff*/
 * {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.content h1 {
  text-align: center;
  font-size: 1.7em;
}

.rating {
  text-align: center;
  margin-bottom: 0.5em;
}

.rating label{
  text-align: left;
}

.user-features{
  width: 300px;
  margin: auto;
}

/*.user-buttons{
  display: inline;
}*/

.comment-button{
  display: none;
  /*margin-left: 2.8em;*/
  float: right;
  margin-right: 2.3em;
  background-color: #6098f1;
  margin-top: 0.7em;
  border-radius: 5px;
}

form.upload-button{
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.6em;
  width: 46%;
  padding: 0;
}

.submit-photo{
  display: none;
  width: 75%;
  font-size: 0.9em;
  position: relative;
  top: 0.8em;
  margin-bottom: 0.3em;
  border-radius: 5px;
  background-color: #e28011;
}

.photo-text{
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 0.6em;
}

.choose-photo {
  display: none;
  width: 75%;
  text-decoration: transparent;
}
.choose-photo{
  padding-right: 1.5em;
}

input#photo_image.choose-photo{
  /*font-size: 1em;*/
  padding: 1.0em;
}

#trail-map-canvas {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.show-map {
  background-color: #c4e3f5;
  width: 300px;
  height: 300px;
  margin: auto;
}

.trail-location{
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.trail-metrics{
  width: 300px;
  margin: 0 auto;
  margin-bottom: 2.8em;
}

.trail-length{
  float: left;
}

.trail-difficulty{
  float: right;
}

.description{
  width: 80%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.0em;
}

.trail-carousel{
  height: 300px;
  width: 80%;
  margin: 0 auto;
}

.trail-carousel-img{
  text-align: center;
  width: 32%;
}

.slick-prev:before, .slick-next:before{
  color: green;
}

.trail-carousel-img img{
  margin: 22% auto 0 auto;
  height: 58%;
  width: 94%;
}


.comment-section{
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid grey;
  padding-top: 1.5em;
}

.one-comment {
  width: 80%;
  margin: 0 auto 0 auto;
  background-color: white;
  border: 1px solid black;
/*  border-radius: 5px;*/
  margin-bottom: 1.5em;
}

.comment-top {
  width: 100%;
/*  border: 1px solid black;*/
}

.comment-top-left{
  display: inline-block;
  font-size: 0.7em;
  margin-left: 1.2em;
  margin-bottom: 1.2em;
}

.comment-top-right{
  display: inline-block;
  float: right;
  font-size: 0.9em;
  padding: 0;
  margin-top: 0.35em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.comment-review-body{
  width: 90%;
  margin: 0.6em auto 0.6em auto;
  padding: 0.5em 0.5em 0 0.5em;
  font-size: 0.95em;
}


.comment-bottom{
  width: 100%;
  display: inline-block;
}

.comment-tip{
  display: inline-block;
  font-size: 0.85em;
  margin-left: 1.2em;
  margin-top: .3em;
  padding: 0;
}

.comment-date-hiked{
  position: relative;
  font-size: 0.3em;
  padding: 0;
  bottom: 0;
 margin-left: 88%;
}

.see-more-comments-button button{
  display: block;
  margin: auto;
  padding: 0;
}

.see-more-comments-button {
  padding: 20px;
}




