<div class="comment-form">
  <h3> Comment </h3>
  <p class="message"></p>
  <div class="input rating">
    <label >Rating</label>
    <input type="hidden" required><i class="fa fa-tree"></i><i class="fa fa-tree"></i><i class="fa fa-tree"></i></i><i class="fa fa-tree"></i><i class="fa fa-tree"></i></input>
  </div>
  <div class="input difficulty">
    <label >Difficulty</label>
    <input type="range"  min="0" max="4" required>
  </div>
  <div class="input tip">
    <label >Tip</label>
    <textarea name="tip" rows="3" maxlength="140" required></textarea>
  </div>
  <div class="input review">
    <label >Review</label>
    <textarea name="review" rows="6" required></textarea>
  </div>
  <div class="input date-hiked">
    <label >Date Hiked</label>
    <input type="date" name="date-hiked" required>
  </div>
  <button type="submit" name="comment_submit">Post</button>
</div>
