<header>
    <%= link_to image_tag("nav_logo.jpg", :size => "75x75"), '/', id: "logo" %>
    <nav>
      <ul class="nav_right">
        <li class="login-button"><%= link_to "Log In", root_path %></li>
        <li class="signup-button"><%= link_to "Sign Up", root_path %></li>
        <li class="logout-button"><%= link_to "Log Out", root_path %></li>
      </ul>
    </nav>
</header>
