<header>
    <%= image_tag("icon.png", :size => "60x60", :id => "icon") %>
    <div id="title">Trailhead</div>
    <nav>
      <ul class="nav_right">
        <a class="logout-href" href="/logout"><li class="logout-button">Log Out</li></a>
        <li class="signin-button">Sign In</li>
        <li class="signup-button">Sign Up</li>
      </ul>
    </nav>
</header>

<div class="signin-form">
  <span class="close-button signin">X</span>
  <h3>Sign In</h3>

  <div class="center">
    <p class="message"></p>
    <input type="text" placeholder="Email" name="email" required></input>
    <input type="password" placeholder="Password" name="password" required></input>
  </div>
  <button type="submit" value="Sign In" name="signin">Sign In</button>
  <span class="continue-button signin" value="continue">Continue</span>
</div>

<div class="signup-form">
  <span class="close-button signup">X</span>
  <h3>Sign Up</h3>

  <div class="center">
    <p class="message"></p>
    <input type="text" placeholder="Username" name="username" required></input>
    <input type="text" placeholder="Email" name="email" required></input>
    <input type="password" placeholder="Password" name="password" required></input>
    <input type="password" placeholder="Password Confirmation" name="password_confirmation" required></input>
  </div>
  <button type="submit" value="Sign Up" name="signup">Sign Up</button>
  <span class="continue-button signup" value="continue">Continue</span>
</div>

